<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <!-- <script src="https://unpkg.com/split-type"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="page">
            <div class="s-stars">

            </div>
            <div class="l-stars">

            </div>
            <div class="content ">

                <div class="text">
                    <h1 class="text-1" style="opacity: 0;">JELLIENZ</h1>
                    <img src="../img/jupiter3.png"  class="text-2" style="opacity: 0;"  >
                    <h1 class="text-3" style="opacity: 0;">NFT</h1>
                </div>
                <div class="input">
                    <input type="text" placeholder="WALLET ADDRESS" name="walletaddress">
                    <div id="search"><img src="../img/search.png" alt=""></div>
                </div>
            </div>
            <div class="result">
                <h2 id="result">You are not on the wallet list</h2>
            </div>

            <div class="twitter">
                <img src="../img/twitter.png" alt="">
            </div>
            <div class="discord">
                <img src="../img/discord.png" alt="">
            </div>
        </div>

    </main>


    <script src="js/main.js"></script>
    <script src="js/input.js"></script>
</body>

</html>